# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/
.venv/

# PyTorch model files
*.pth
*.pt

# Data files
data/
*.csv
*.h5

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
*.bak
*.tmp
